html {
    behavior: smooth;
}

body {
    padding-left: 15%;
    padding-right: 15%;
    background-image: url("../images/old_academy.png");
    background-size: cover;
}

.cadre {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.6);
}

h3 {
    text-decoration: underline;
}

.spe_tenue {
    display: flex;
}

#masc {
    height: 120px;
    width: 150px;
    border: solid;
    border-width: 1px;
}

#box {
    margin-top: 10px;
    border: solid;
    border-width: 3px;
}

#watchout {
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}

#text {
    text-align: center;
}

.coming_soon {
    height: 200px;
    border: dotted;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    padding-top: 5px;
    padding-bottom: 5px;
}
